@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
    background-color: #121214;
}


h1{
    color: #04D361;
    font-size: 34px;
    padding: 20px;
    padding-left: 15px;
}

h2, p{
    color: #E1E1E6;
    padding: 5px;
    padding-left: 15px;
}

#logo{
    margin: 30px;
}

input{
    position: relative;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 40px;
    width: 800px;
}

#img{
    height: 100vh;
    width: 100vh;
    float: right;
    object-fit: cover;
}

a{
    color: blueviolet;
    text-decoration: none;
    padding-left: 15px;
    font-size: 20px;
}

button{
    background-color: #04D361;
    height: 45px;
    padding: 0 5px;
}

button:hover{
    background-color: #05853e;
}
